html,
body {
    min-height: 100vh;
}

body {
    background-image: url("./img/123.jpeg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;
}

:root {
    --bs-body-color: #27285C;
}

/* Simple grid here just for body, for other grids I used Bootstrap */

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
}

/* Additional styles */

my-card,
my-card>.card {
    height: 100%;
}

my-card .card-body {
    flex-grow: 1;
}

#youtube {
    width: 100%;
    aspect-ratio: 16/11;
}

nav.navbar {
    /* is set in theme, so changing directly, not via CSS var */
    background-color: #e1eef4 !important;
}